body {
  background-color: #0e1721;
  color: #ffffff;
  font-family: 'Sans Serif', sans-serif;
  padding: 20px;
  margin: 0;
  position: relative;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4ba3ff;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.chatbot-button:before {
  content: "\1F916";
  font-size: 40px;
}

.help-text {
  position: fixed;
  bottom: 95px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: none;
  z-index: 1000;
}

.chatbot-button:hover + .help-text {
  display: block;
}

.chatbot-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 600px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
